<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    

    <%for (let index = 0; index < produto.length; index++) {%>
        <div class="cards">
            <h1><%= produto[index].nome %></h1>
            <h2><%= produto[index].preco %></h2>
            <input class="quantidade" type="number" min="1" value="<%=produto[index].quantidade%>">
            <h3 class="preco_total"><%= produto[index].preco * produto[index].quantidade %></h3>
        </div>
    <%}%>

    <script src="/js/main.js"></script>
</body>
</html>