<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

    <h1>Olá mundo</h1>
    

    <div class="cards">
        <h1>Cadeira</h1>
        <form action="/cart/cadeira/200/<%=id_user%>" method="post">
            <button class="addToCartButton">Adicionar ao carrinho</button>
        </form>
    </div>
    <div class="cards">
        <h1>Computador</h1>
        <form action="/cart/computador/300/<%=id_user%>" method="post">
            <button class="addToCartButton">Adicionar ao carrinho</button>
        </form>
    </div>

    <a href="/cart/<%=id_user%>">Cart</a>

    
    <script src="/js/main.js"></script>
    
</body>
</html>
