<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

   
    <div class="card">
        <h1>Celular</h1>
        <p>300</p>
        <button class="add_cart">Add cart</button>
    </div>

    <div class="card">
        <h1>Roupa</h1>
        <p>50</p>
        <button class="add_cart">Add cart</button>
    </div>
   
    <div class="card">
        <h1>dado</h1>
        <p>20</p>
        <button class="add_cart">Add cart</button>
    </div>

    

    <form action="/cart" method="post">
        <button>CART form</button>
    </form>
  
    
    <script src="/js/main.js"></script>
</body>
</html>