<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1>ola mundo</h1>
    

    <div class="cards">
        <h1>cadeira</h1>
        <a href="/cart/cadeira/200/<%=id_user%>">add cart</a>
    </div>
    <div class="cards">
        <h1>computador</h1>
        <a href="/cart/computador/300/<%=id_user%>">add cart</a>
    </div>
</body>
</html>